.app.dark {
  --bg-color: #383737;
  --inverted-bg-color: #f3f3f3;

  --primary-color: #e0dddd;
  --secondary-color: #736e6e;

  --inverted-primary-color: #2d2c2c;
  --inverted-secondary-color: #656464;
}
