.app.dark {
    --bg-color: #2d2c2c;
    --inverted-bg-color: #d0c9c9;
    --primary-color: #7e7171;
    --secondary-color: #736e6e;
    --inverted-primary-color: #918a8a;
    --inverted-secondary-color: #656464;
}
