.app_dark_theme {
    --bg-color: #486581;
    --inverted-bg-color: #243b53;
    --primary-color: #c2d6ee;
    --secondary-color: #bcccdc;
    --inverted-primary-color: #829ab1;
    --inverted-secondary-color: #627d98;

    // skeleton
    --skeleton-color: #829ab1;
    --skeleton-shadow: #627d98;

    // code
    --code-bg: #243b53;

    // card
    --card-bg: #5a7fa1;
}
