.app_full_dark_theme {
    --bg-color: #303531;
    --inverted-bg-color: #1e201d;
    --primary-color: #b2b2b2;
    --secondary-color: #303531;
    --inverted-primary-color: #636864;
    --inverted-secondary-color: #2c2b2b;
}
