.app_full_dark_theme {
    --bg-color: #303531;
    --inverted-bg-color: #1e201d;
    --primary-color: #b2b2b2;
    --secondary-color: #6d706d;
    --inverted-primary-color: #7c8881;
    --inverted-secondary-color: #2c2b2b;

    // skeleton
    --skeleton-color: #636864;
    --skeleton-shadow: #2c2b2b;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #5555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // code
    --code-bg: #1e201d;

    // card
    --card-bg: #3d413e;
}
