.app_full_dark_theme {
    --bg-color: #303531;
    --inverted-bg-color: #1e201d;
    --primary-color: #b2b2b2;
    --secondary-color: #6d706d;
    --inverted-primary-color: #7c8881;
    --inverted-secondary-color: #2c2b2b;

    // skeleton
    --skeleton-color: #636864;
    --skeleton-shadow: #2c2b2b;

    // code
    --code-bg: #1e201d;
}
