.app.light {
    --bg-color: #f3f3f3;
    --inverted-bg-color: #383737;
    --primary-color: #2d2c2c;
    --secondary-color: #656464;
    --inverted-primary-color: #e0dddd;
    --inverted-secondary-color: #736e6e;
}
