:root {
    --bg-color: #f4f8fb;
    --inverted-bg-color: #147fd0;
    --primary-color: #159cff;
    --secondary-color: #57acf0;
    --inverted-primary-color: #66d6ff;
    --inverted-secondary-color: #66d6ff;

    // skeleton
    --skeleton-color: #66d6ff;
    --skeleton-shadow: #66d6ff;

    // code
    --code-bg: #fff;
}
