.SidebarRedesigned {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
    position: relative;
}

.items {
    margin-top: 40px;
}

.appLogo {
    padding-top: 20px;
}

.switchers {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    gap: 16px;
}

.collapseBtn {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    transform: rotate(90deg);
}

.collapsed {
    width: 50px;

    .items {
        display: flex;
        align-items: center;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}
